.root {    
    width: 100%;
    max-width: 41rem;
    height: 4rem;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .root {
        max-width: 38rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .root {
        max-width: 21rem
    }
}